body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

nav a{
    display: block;
    background-color: rgb(130, 28, 224);
    padding: 15px;
    margin: 5px 0;
    color: aqua;
    border-radius: 4px;
}

main .content, main .list {
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}

footer{
    background-color: aqua;
    text-align: center;
    color: beige;
    padding: 10px;
}