body{
    font-family: Arial, Helvetica, sans-serif;
}

.parent{
    background-color: rgb(191, 224, 214);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 5px;
}

.child{
    background-color: rgb(116, 138, 158);
}