<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>My Favourite Cartoon</h1>
            <nav>
                <a href="#">Po(Panda)</a>
                <a href="#">Oogway</a>
                <a href="#">KungFu Panda</a>
                <div class="clear"></div>
            </nav>
        </header>
        
    </div>
    <div class="main-layout">
        <main>
           <h1>Kung Fu Panda</h1>
            <figure class="panda">
                <img src="panda.jpg" alt="Po">
                <figcaption>KungFu Panda</figcaption>
                
            </figure>
            <p>Kung fu panda is American comedy media that started in 2008. The cartoon release of the animated film Kung Fu panda produced by DreamsWorks Animation. A giant panda who is improbably chosen as the prophesied Dragon Warrior and becomes a master of kung fu.</p>
            <p> In the movies, the panda was adopted by his goose father. The panda is an excitable fan of kung fu who struggles to learn the art of it. However, he demostrates the principle that "A real warrior never quits. The heart of kung fu settled in china after having traveled around the world. Upon finding his home in the valley of peace, he discovered a pool deep within the mountains.</p>
        </main>
    </div>
        <footer><p>&copy; 2025 Nakau Maunana</p>
        <figure class="coconut">
            <img src="coconut.jpg" alt="nii">
        </figure>
        </footer>
    

</body>
</html>