<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <Header>
            <h1>Tamnei</h1>
        </Header>
        <nav>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <div class="clear"></div>
        </nav>
        <main>
            <h1>Main</h1>
        </main>
    </div>
        <footer><p>&copy; 2025 Nakau Maunana</p></footer>

</body>
</html>